{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block checkbox_row %}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    <div class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label }}</label>
    </div>
{% endblock checkbox_row %}
