{% extends 'base.html.twig' %}

{% use 'AppBundle::datatable-dependencies.html.twig' with
    stylesheets as datatable_stylesheets,
    javascripts as datatable_javascripts
%}

{% block stylesheets %}
{{ parent() }}
{{ block('datatable_stylesheets') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ block('datatable_javascripts') }}
{% endblock %}

{% block body %}
{% block tabs %}{% endblock %}

<x-div data-controller="/vendor/datatables-search/dist/datatables-search">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control search-input"
                   placeholder="Search&hellip;" aria-controls="{{ datatable.name }}"
            >
        </div>
    </div>
</x-div>

{{ datatable_render(datatable) }}
{% endblock %}
