{% extends 'Modal/modal.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path('app_tenants') }}">Tenants</a></li>
<li class="active">Edit Tenant</li>
{% endblock %}

{% block modalTitle %}Edit Tenant #{{ tenant.id }}: {{ tenant.firstName }} {{ tenant.lastName }}{% endblock %}

{% use 'AppBundle:Contacts:dependencies.html.twig' with
    stylesheets as additional_stylesheets,
    javascripts as additional_javascripts
%}

{% block stylesheets %}
{{ parent() }}
{{ block('additional_stylesheets') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ block('additional_javascripts') }}
{% endblock %}

{% block modalContent %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#tab-general" data-toggle="tab" aria-controls="tab-general" role="tab">
                <i class="fa fa-file-o"></i> General
            </a>
        </li>
        <li role="presentation">
            <a href="#tab-property-matching" data-toggle="tab" aria-controls="tab-property-matching" role="tab">
                <i class="fa fa-building-o"></i> Property matching
            </a>
        </li>
        <li role="presentation">
            <a href="#tab-history" data-toggle="tab" aria-controls="tab-history" role="tab">
                <i class="fa fa-history"></i> History
            </a>
        </li>
        <li role="presentation">
            <a href="#tab-messages" data-toggle="tab" aria-controls="tab-messages" role="tab">
                <i class="fa fa-envelope-o"></i> Messages
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-general">
            {% include 'AppBundle:Contacts:edit-tab-general.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab-property-matching">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab-history">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab-messages">

        </div>
    </div>
</div>
{% endblock %}
